<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://zontaya.github.io/</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://zontaya.github.io/</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.reactjs.native.example.ReserveCar</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ReserveCar</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-1AFE5381-DEF1-41D2-9080-F127004BBAD9.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone6,1</string>
						<string>iPhone9,9</string>
						<string>iPhone10,1</string>
						<string>iPhone7,2</string>
						<string>iPhone9,3</string>
						<string>iPhone6,2</string>
						<string>iPhone9,7</string>
						<string>iPhone9,1</string>
						<string>iPhone8,4</string>
						<string>iPhone8,1</string>
						<string>iPhone9,8</string>
						<string>iPhone10,4</string>
						<string>iPod7,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-BEE466CD-CBD2-4534-A76F-3785B6919F92.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad3,6</string>
						<string>iPad3,4</string>
						<string>iPad3,2</string>
						<string>iPad3,5</string>
						<string>iPad3,3</string>
						<string>iPad3,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-81D4B9C3-9E36-40D7-97DC-013D3E3F3AE5.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-06D90644-A922-4728-A18B-7962579F45F1.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad7,4</string>
						<string>iPad4,5</string>
						<string>iPad7,5</string>
						<string>iPad4,6</string>
						<string>iPad6,3</string>
						<string>iPad5,1</string>
						<string>iPad6,11</string>
						<string>iPad7,6</string>
						<string>iPad5,2</string>
						<string>iPad6,4</string>
						<string>iPad4,7</string>
						<string>iPad5,3</string>
						<string>iPad4,1</string>
						<string>iPad4,8</string>
						<string>iPad6,12</string>
						<string>iPad7,1</string>
						<string>iPad5,4</string>
						<string>iPad4,9</string>
						<string>iPad4,2</string>
						<string>iPad7,2</string>
						<string>iPad4,3</string>
						<string>iPad6,7</string>
						<string>iPad7,3</string>
						<string>iPad4,4</string>
						<string>iPad6,8</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-DEDA83E0-3FE0-4014-9F74-0A10D72597F9.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone5,2</string>
						<string>iPod5,1</string>
						<string>iPhone5,3</string>
						<string>iPhone4,1</string>
						<string>iPhone5,1</string>
						<string>iPhone5,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-97FCB82E-C6BF-4511-AC70-519689D3050B.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad2,3</string>
						<string>iPad2,2</string>
						<string>iPad2,1</string>
						<string>iPad2,7</string>
						<string>iPad2,6</string>
						<string>iPad2,5</string>
						<string>iPad2,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zontaya.github.io/ReserveCar-214136DD-13EA-4330-B834-D61DB2B16063.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone7,1</string>
						<string>iPhone10,2</string>
						<string>iPhone11,4</string>
						<string>iPhone10,6</string>
						<string>iPhone10,5</string>
						<string>iPhone11,2</string>
						<string>iPhone8,2</string>
						<string>iPhone9,4</string>
						<string>iPhone10,3</string>
						<string>iPhone9,2</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
